/* You can add global styles to this file, and also import other style files */
/* :root {
    --primary-color: #ff5667;
    --secondary-color: #181818;
    --third-bg-color: #3f3f3f;
    --darker: #8031a5;
    --shine: 255, 255, 255;
} */

/* :root {
    --primary-color: #0E8388;
    --secondary-color: #2C3333;
    --darker: #2E4F4F;
    --third-bg-color: #3f3f3f;
    --shine: 255, 255, 255;
} */

* {
    scrollbar-width: none;
    scrollbar-color: var(--primary-color) white;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

:root {
    --primary-color: #599692;
    --darker: #467370;
    --home-bg: #11172a;
    --proj-bg: rgb(218, 214, 201);
    --exp-bg: rgb(193, 189, 177);
    --contact-bg: #F3F3E0;
    --box-color: rgba(5, 6, 10, 0.705);

    --border-radius: 8px;
    --headings-weight: 500;
}

