/* You can add global styles to this file, and also import other style files */
/* :root {
    --primary-color: #ff5667;
    --secondary-color: #181818;
    --third-bg-color: #3f3f3f;
    --darker: #8031a5;
    --shine: 255, 255, 255;
} */

/* :root {
    --primary-color: #0E8388;
    --secondary-color: #2C3333;
    --darker: #2E4F4F;
    --third-bg-color: #3f3f3f;
    --shine: 255, 255, 255;
} */

* {
    scrollbar-width: none;
    scrollbar-color: var(--primary-color) #ffffff00;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: rgba(8, 18, 48, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

:root {
    --primary-color: #fc7d7d;
    --darker: #FF6B6B ;
    --secondary-color: #101e3d;
    --box-color: rgba(5, 6, 10, 0.705);
}

