<main>
    <div class="container">
        <div class="top">
            <h1 id="intro">Hello, I am</h1>
            <h1 id="name">Aman Sahu</h1>
        </div>
        <div class="bottom">
            <p id="caption"><b>Computer Science</b> | The <b>Pennsylvania State University</b></p>
        </div>
        <p id="hint-above">Skilled Python and Full Stack Software Developer. Currently looking for full time roles where I can learn and hone my skills required in the
            field of Software Development and Engineering.</p>
        <button class="download-resume" (click)="downloadResume()"><i class="fas fa-external-link-alt"></i>  Download Resume</button>
    </div>
</main>