<main>
    <div class="container">
        <div class="top">
            <h1>Hello, I am</h1>
            <h1 id="name">Aman Sahu</h1>
        </div>
        <div class="bottom">
            <p id="caption"><b>Computer Science</b> | The <b>Pennsylvania State University</b></p>
        </div>
        <p id="hint-above">Skilled Python and Full Stack Software Developer looking for full time roles where I can learn and apply skills required in the
            field of Data Science and Software Engineering.</p>
        <button class="download-resume" (click)="downloadResume()"><i class="fas fa-external-link-alt"></i>  Download Resume</button>
    </div>
</main>