@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

main {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #333;
    font-size: 1.2em;
    justify-content: left;
    align-items: left;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.container button {
    width: fit-content;
    margin-top: 20px;
}

.top {
    text-align: left;
}

#name {
    font-size: 6em;
    font-weight: 700;
    color: var(--primary-color);
    animation: fadeInFlicker 2s ease forwards;
    text-shadow: 0 0 10px var(--primary-color);
}

.bottom {
    text-align: left;
}

#hint-above {
    margin-top: 20px;
    color: #f7f7f7;
    display: flex;
    font-size: 1em;
}

h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 700;
    color: white;
}

#caption {
    line-height: 1.6;
    margin: 10px 0;
    color: grey;
    font-size: 2em;
}

button.download-resume {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 600;
    box-shadow: 0px 0px 14px -7px #000000;
    background-image: linear-gradient(60deg, var(--primary-color) 0%, var(--darker)  51%, var(--primary-color)  100%);
    cursor: pointer;
    touch-action: manipulation;
    animation: fadeInFlicker 2s ease forwards;
}

button.download-resume:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

button.download-resume:active {
    transform: scale(0.95);
}


@keyframes fadeInFlicker {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.4;
    }
    20% {
        opacity: 0.3;
    }
    30% {
        opacity: 0.5;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.9;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 30px;
    }

    h1 {
        font-size: 3em;
    }

    .bottom {
        font-size: 0.8em;
    }

    #hint-above {
        font-size: 1em;
    }
}