<main>
    <div class="container">
        <div class="top">
            <h1 id="intro">Hello, I am</h1>
            <h1 id="name">Aman Sahu</h1>
        </div>
        <div class="bottom">
            <p id="caption"><b>Computer Science Graduate</b> | The <b>Pennsylvania State University</b></p>
            <p id="caption"><b>Software Engineering Intern</b> &#64; <b>CloudFrame</b></p>
        </div>
        <p id="hint-above">Skilled Python developer and Software Engineer with knowledge of various tools and languages. Committed to 
            continuous learning and open to discuss Artificial Intelligence opportunities!</p>
        <button class="download-resume" (click)="downloadResume()"><i class="fas fa-external-link-alt"></i>  Download Resume</button>
    </div>
</main>