* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-container h1 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1em;
    color: #555555;
}

.contact-item i {
    color: #5f82ed;
    font-size: 1.5em;
}

.contact-item a {
    color: #5f82ed;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #005bb5;
}
