@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('./main_colors.css');


@media (max-width: 768px){
    
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #333;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
}

.container button {
    width: fit-content;
    margin-top: 20px;
}

.top {
    text-align: left;
}

#name {
    animation: fadeIn 2s ease;
}

.bottom {
    text-align: left;
}

#hint-above {
    margin-top: 20px;
    color: #f7f7f7;
    display: flex;
    font-size: 1em;
}

h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 700;
    color: var(--primary-color);
}

p {
    line-height: 1.6;
    margin: 10px 0;
    color: grey;
    font-size: 2em;
}

button.download-resume {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 600;
    box-shadow: 0px 0px 14px -7px #000000;
    background-image: linear-gradient(60deg, var(--primary-color) 0%, var(--darker)  51%, var(--primary-color)  100%);
    cursor: pointer;
    touch-action: manipulation;
    animation: fadeIn 2s ease;
}

button.download-resume:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

button.download-resume:active {
    transform: scale(0.95);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}