@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #b3f2c4;
    --secondary-color: #222222;
}

/* General reset */
* {
    scrollbar-width: none;
    scrollbar-color: #0086da #ffffff00;
    font-family: 'SF Mono', 'Roboto', -apple-system, 'Courier New', Courier;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: #0086da;
    border-radius: 10px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--secondary-color);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'SF Pro', sans-serif;
    background-color: none;
}

header {
    background-color: none;
    color: rgb(117, 116, 116);
    text-align: center;
    padding: 1em 0;
    height: 2.2em;
}

.navbar {
    width: 100%;
    /* background-color:rgba(56, 56, 56, 0.8); */
    backdrop-filter: blur(10px);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    gap: 30px;
    z-index: 1000;
}

.custom-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}

.custom-button:hover {
    border-bottom: 1px solid var(--primary-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#contentFrame {
    width: 100%;
    height: 100%;
    border: none;
    opacity: 1;
    transition: opacity 0.1s;
}