/* :root {
    --primary-color: #ff5667;
    --secondary-color: #181818;
    --third-bg-color: #3f3f3f;
    --darker: #8031a5;
    --shine: 255, 255, 255;
} */

/* :root {
    --primary-color: #0E8388;
    --secondary-color: #2C3333;
    --darker: #2E4F4F;
    --third-bg-color: #3f3f3f;
    --shine: 255, 255, 255;
} */

:root {
    --primary-color: #fc7d7d;
    --secondary-color: #161618;
    --darker: #cc0088;
    --third-bg-color: #000000;
    --shine: 255, 255, 255;
}