@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('./main_colors.css');


/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.top-panel p {
    display: flex;
    justify-content: center;
    color: rgb(65, 65, 65);
}

.proj-container {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #212124;
}

.main-heading {
    color: var(--primary-color);
    text-align: center;
    padding: 30px;
}

.scrollable-list {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 20px;
    width: 100%;
    justify-content: center;
}
.project-item {
    flex: 1 1 calc(30% - 50px);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    max-width: 50%;
    height: 100%;
    gap: 12px;
}

.project-item:hover {
    box-shadow: 0 0px 12px rgba(114, 114, 114, 0.55);
}

/* .project-item--reverse {
    flex-direction: c-reverse;
} */

.project-title,
.project-details {
    flex: 1;
    padding: 10px;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    color: white;
}

.project-details {
    text-align: left;
    color: white;
}

.project-title a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project-title a:hover {
    color: var(--darker);
    transform: scale(1.05);
}

.tags {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.python-tag, .docker-tag, .aws-tag, .swift-tag, .java-tag, .php-tag {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
}

.python-tag {
    background-color: #ffe260;
    color: #005ce6;
}

.docker-tag {
    background-color: #009dff;
    color: #ffffff;
}

.aws-tag {
    background-color: #1c3552;
    color: #00ffa2;
}

.java-tag {
    background-color: #a85f00;
    color: #ffd900;
}

.swift-tag {
    background-color: #c78800;
    color: #ffffff;
}

.php-tag {
    background-color: #65008d;
    color: #b86dff;
}

@media (max-width: 768px) {
    .project-item {
        flex: 1 1 100%;
    }
}