@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #b3f2c4;
    --secondary-color: #222222;
}

/* General Reset */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #ffffff00;
    font-family: 'Courier New', Courier, monospace;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: rgba(8, 18, 48, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.details-panel {
    background-color: transparent;
    color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease;
    opacity: 1;
}

.details-heading {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.details-content {
    font-size: 1rem;
    color: #d0d0d0;
    line-height: 1.6;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrollable-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.scroll-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    backdrop-filter: blur(2px);
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
}

.scroll-item:hover {
    transform: scale(1.02);
    border-color: var(--primary-color);
}

.scroll-item.expanded {
    grid-column: span 2;
    grid-row: span 2;
    position: relative;
    background-color: #40404041;
    padding: 20px;
}

.details {
    display: none;
    margin-top: 10px;
}

.details p {
    font-size: 1rem;
    line-height: 1.5;
    color: #e0e0e0;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

.details p a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.details p a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.scroll-item.expanded .details {
    display: block;
}

.project-heading {
    color: #e8e8e8;
}

.summary {
    color: #ababab;
    font-size: 0.9rem;
}

.tags {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.python-tag, .docker-tag, .aws-tag, .swift-tag, .java-tag, .php-tag {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
}

.python-tag {
    background-color: #ffe260;
    color: #e69f00;
}

.docker-tag {
    background-color: #009dff;
    color: #0022ff;
}

.aws-tag {
    background-color: #1c3552;
    color: #00ffa2;
}

.java-tag {
    background-color: #a85f00;
    color: #ffd900;
}

.swift-tag {
    background-color: #ffae00;
    color: #ffffff;
}

.php-tag {
    background-color: #65008d;
    color: #b86dff;
}