@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #9EC8B9;
    --secondary-color: #092635;
}

/* General reset */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #ffffff00;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: rgba(8, 18, 48, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: transparent;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 1s ease;
}

.container:hover{
    transform: scale3d(1.02, 1.02, 1.02);
}

h1 {
    font-size: 3em;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 i {
    margin-right: 20px;
}

p {
    font-size: 1.2em;
    color: #ccc;
}