/* Firefox */
* {
    scrollbar-width: 10px;
    scrollbar-color: #111316 #fffffff2;
    font-family:'Courier New', Courier, monospace;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: #5f82ed;
    border-radius: 10px;
    /* border: 3px solid #fafafa; */
}
/* scrollbar made with https://codepen.io/stephenpaton-tech/full/JjRvGmY */

html{
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: -1;
}

.welcome{
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0;
}

.box{
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    backdrop-filter: blur(1.2px);
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 15px;
}

.left-side h3.welcome {
    font-size: 1.2rem;
    color: #ffffff;
}

.button-container {
    display: absolute;
    margin-top: 20px;
}

.custom-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #005bb5;
}

.right-side {
    overflow-y: auto;
}

body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    /* Below changes the BG color */
    background-color: #000000; 
    margin: 0;
}

.typewriter {
    font-family: monospace;
    overflow: hidden;
    font-size: 2.2rem;
    white-space: nowrap; 
    border-right: 3px solid;
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(119, 119, 119); }
}