<main>
    <div class="proj-container">
        <div class="top-panel">
            <h2 class="main-heading">My Projects</h2>
            <p>Check out my projects here</p>
        </div>
        <div class="scrollable-list" id="projectsList">
            <div class="project-item">
                <div class="project-title">
                    <h3>SeamlessM4Tv2 API Endpoints</h3>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                    <span class="docker-tag">Docker</span>
                </div>
                <p>Docker containerized deployable API endpoints for the <br>
                    SeamlessM4Tv2 model generating text-to-speech <br>
                    and speech-to-speech translation audio files.</p>
                <a class="explore-link" href="https://github.com/axs03/SeamlessM4Tv2-API" target="_blank">MORE</a>
            </div>

            <div class="project-item">
                <div class="project-title">
                    <h3>Vision Transformer</h3>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                </div>
                <p>Training a Vision Transformer Image Classification model <br>
                    on example datasets</p>
                <a class="explore-link" href="https://github.com/axs03/Vision-Transformer" target="_blank">MORE</a>
            </div>

            <div class="project-item">
                <div class="project-title">
                    <h3>Communicator.AI</h3>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                    <span class="aws-tag">AWS</span>
                    <span class="swift-tag">Swift</span>
                </div>
                <p>Source code for Communcator.AI, an iOS application <br>
                    facilitating seamless communcation between langauges. Realtime.</p>
                <a class="explore-link" href="https://github.com/axs03/TranslatorAppIOS" target="_blank">MORE</a>
            </div>

            <div class="project-item">
                <div class="project-title">
                    <h3>model.aio</h3>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                </div>
                <p>A chatbot interface enabling multi-model inference at once. <br>
                    Under Development and coming soon!</p>
                <a class="explore-link" href="" target="_blank">MORE</a>
            </div>

            <div class="project-item">
                <div class="project-title">
                    <h3>LearnAI</h3>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                    <span class="javascript-tag">TypeScript</span>
                </div>
                <p>An AI tutor tailored to your learning needs. <br>
                    Under Development and coming soon!</p>
                <a class="explore-link" href="" target="_blank">MORE</a>
            </div>
        </div>
        <div class="top-panel">
            <!-- <p>and more...</p> -->
        </div>
    </div>
</main>