<main>
    <div class="proj-container">
        <div class="top-panel">
            <h2 class="main-heading">My Projects</h2>
            <p>Check out my other projects here</p>
        </div>
        <div class="scrollable-list" id="projectsList">
            <div class="project-item">
                <div class="project-title">
                    <h3>SeamlessM4Tv2 API Endpoints</h3>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                    <span class="docker-tag">Docker</span>
                </div>
                <a class="explore-link" href="https://github.com/axs03/SeamlessM4Tv2-API">EXPLORE</a>
            </div>

            <div class="project-item">
                <div class="project-title">
                    <h3>Vision Transformer</h3>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                </div>
                <a class="explore-link" href="https://github.com/axs03/Vision-Transformer">EXPLORE</a>
            </div>

            <div class="project-item">
                <div class="project-title">
                    <h3>Communicator.AI</h3>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                    <span class="aws-tag">AWS</span>
                    <span class="swift-tag">Swift</span>
                </div>
                <a class="explore-link" href="https://github.com/axs03/TranslatorAppIOS">EXPLORE</a>
            </div>
        </div>
        <div class="top-panel">
            <!-- <p>and more...</p> -->
        </div>
    </div>
</main>