<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="../static/css/experience.css"/>
</head>
<body>
    <div class="resume-container">
        
        <!-- <div class="box">
            <h2>Skills</h2>
            <div class="skills">
                <ul class="skills-list">
                    <li class="skills-item">Python</li>
                    <li class="skills-item">SQL</li>
                    <li class="skills-item">C++</li>
                    <li class="skills-item">Swift</li>
                    <li class="skills-item">Firebase</li>
                    <li class="skills-item">Angular</li>
                    <li class="skills-item">Flask</li>
                    <li class="skills-item">Transformers</li>
                    <li class="skills-item">sk-learn</li>
                    <li class="skills-item">Streamlit</li>
                    <li class="skills-item">matplotlib</li>
                    <li class="skills-item">Seaborn</li>
                    <li class="skills-item">JavaFX</li>
                    <li class="skills-item">Git</li>
                    <li class="skills-item">Docker</li>
                    <li class="skills-item">Slack</li>
                    <li class="skills-item">ServiceNow</li>
                    <li class="skills-item">REST APIs</li>
                    <li class="skills-item">AWS (SageMaker, EC2, S3)</li>
                    <li class="skills-item">Azure SQL Databases</li>
                </ul>
            </div>
        </div> -->
        <div class="box">
            <div class="job-content">
                <div class="job-left">
                    <div class="job-title">Cofounder & Software Engineer</div>
                    <div class="job-company">ADDR LLC</div>
                    <div class="job-dates">Dec 2024 - Present</div>
                </div>
                <div class="job-right">
                    <p>Currently a technology startup with 3 other engineeers actively developing innvoative autonomous drone solutions for various 
                        real world challenges and use cases. 
                        <br>As a team, we at ADDR see drones having potential in life-saving scenarios, 
                        aiming for the greatest possible impact within disaster response and search and rescue operations.
                        Find out more on <a href="https://addrllc.com">our website</a>.
                    </p>
                    <p>As for work experience, I have designed the website and it is maintained by me. I used Three.js for the 3D modelling and JavaScript.
                </div>
            </div>
        </div>
        
        <div class="box">
            <div class="job-content">
                <div class="job-left">
                    <div class="job-title">Operations Analyst 1</div>
                    <div class="job-company">Penn State Housing and Food Services</div>
                    <div class="job-dates">Aug 2024 - Present</div>
                </div>
                <div class="job-right">
                    <p>Initially, building Power Automate flows and automating data updates using JavaScript helped in setting a baseline for more efficient 
                        and reliable tools. Introducing Git version control for the Inventory Management System was one key factor helping in ease of collaboration
                        with the team. Later, we eventually decided it was time to migrate to Node.js for out backend servers, I assisted in the migration of our backend 
                        codebase into Node.js and mySQL for our database.
                </div>
            </div>

            <div class="job-content" style="margin-top: 50px;">
                <div class="job-left">
                    <div class="job-title">IT Services Student Team Manager</div>
                    <div class="job-company">Penn State IT Services</div>
                    <div class="job-dates">June 2022 - Present</div>
                </div>
                <div class="job-right">
                    <p>Currently working as an IT Student Team Manager helps improve my problem solving and leadership skills. Having assisted over 250 students and faculty members, 
                        it is always interesting to see what kind of issue will come up and how you can solve them. As a team, one of our core duties involve managing university technology infrastructure, where we 
                        ensure the systems are up to date and working properly. We have deployed and verified over 500+ Penn State computers using a specially built Operating System used explicitly
                        by Penn State. Using ServiceNow is the tool which allows us to upkeep all of our tasks and incidents helping other team members stay up to speed. 
                    </p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="job-content">
                <div class="job-left">
                    <div class="job-title">Research Intern, MCREU Scholars Program</div>
                    <div class="job-company">Penn State College of Engineering</div>
                    <div class="job-dates">April 2024 - July 2024</div>
                </div>
                <div class="job-right">
                    <p>For my summer research project, I worked with my Professor alongside a Doctor from Hershey Medical in which we developed 
                        an application pipeline to deliver accurate conversational translations between doctors and non-English speaking patients.
                        This involved "integrating" Meta's SeamlessM4T-v2 Natural Language Processing model into an iOS application. We used Python's transformers for 
                        the NLP model itself, and successfully containerized the entire environment using Docker for our API deployment. Custom API endpoints were made possible
                        using Gunicorn with Flask. AWS SageMaker, S3 bucket, and an EC2 instance all played big roles in the deployment process. For our iOS application,
                        we used TestFlight for our beta testing and user feedback (even though only 8 people were on it). </p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="job-content">
                <div class="job-left">
                    <div class="job-title">Full Stack Developer Intern</div>
                    <div class="job-company">Swan Softech Pvt. Ltd.</div>
                    <div class="job-dates">April 2022 – Sept 2022</div>
                </div>
                <div class="job-right">
                    <p>As a Full Stack Intern, I collaborated with with senior developers to implement a 17% more efficient file tracking system using Python and Angular.
                        Most of it included data preprocessing and the migration to an SQL database managed by PHPmyadmin. This helped me get a solid foundation with 
                        Object Oriented programming and fluency in writing production. Introducing proper versioning into the API helped improve its repsonse time as well.
                        Alongside, I used pytest for generating unit tests and debugging code for resolving minor issues to ensure optimal performance. 
                </div>
            </div>
        </div>
    </div>
        
</body>
</html>
