<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>Hello, I am</h1>
            <h1 class="welcome slide-in">Aman Sahu</h1>
        </div>
        <div class="bottom">
            <p>Computer Science | Penn State University</p>
        </div>
        <!-- <p id="hint-above">Click on the buttons above to learn more</p> -->
    </div>
</body>

</html>