<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>Hello, I am</h1>
            <h1 id="name">Aman Sahu</h1>
        </div>
        <div class="bottom">
            <p>Computer Science | The Pennsylvania State University</p>
        </div>
        <p id="hint-above">Software Developer experienced in Python looking for full time roles and internships to learn and apply skills required in the
            field of Data Science and Software Engineering.</p>
        <button class="download-resume" onclick="window.open('../files/Aman_Sahu_Resume.pdf', '_blank')"><i class="fas fa-external-link-alt"></i>  Download Resume</button>
    </div>
</body>
</html>