/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #111316 #fffffff2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: #77a9f8;
    border-radius: 10px;
    border: 3px solid #fafafa;
}
/* scrollbar made with https://codepen.io/stephenpaton-tech/full/JjRvGmY */

html{
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: -1;
}

.welcome{
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    color:#111010;
}

.intro-section {
    margin-top: 50px;
    width: 100%;
    height: 800px;
    text-align: left;
    padding: 20px;
    background: transparent;
    /* backdrop-filter: blur(5px); */
    border-radius: 20px;
    margin-bottom: 20px;
}

.intro-text {
    color: #000000;
    margin: auto;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 10px;
    border-width: 5px; */
    /* align-items: center;
    justify-content: center; */
    position: relative;
    background: transparent;
    max-height: 100vh;
    overflow-y: auto;
    backdrop-filter: blur(3px);
}

.info-container p{
    color: white;
    display: block;
}

.box{
    margin: 10px;
    /* width: calc(100% - 10px); */
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 10px;
    border: 0px solid rgb(166, 166, 166);
    text-align: left;
    line-height: 35px;
    height: auto;
    padding: 10px;
    /* max-width: 750px; */
    backdrop-filter: blur(2px);
}

.box button {
    background-color: #a4d7fc;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    /* margin: auto; this is what centers the button mainly */
    position: relative;
}

.box button:hover,
.box button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
}

.box button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.box button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    /* background: url(../images/cool-background.png); */
    background-color: #d7d7d7;
    margin: auto;
}

.contact-section {
    text-align: center;
    padding-bottom: 80px;
    border: 2px solid rgba(110, 149, 185, 0);
    color: #000000;
    background: rgba(26, 26, 26, 0);
    width: 100%;
    
}

.contact-section p {
    color:#000000;
}

.contact-section h2 {
    margin-bottom: 10px;
}

.code_wrapper .hljs{
    background-color: black;
    color: white;
    font-size: 17px;
    border-radius: 7px;;
}

.code_wrapper{
    position: left;
}
