/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #77a9f8 #ffffff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: rgba(8, 18, 48, 0.863);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: #77a9f8;
    border-radius: 10px;
    border: 3px solid #fafafa;
}
/* scrollbar made with https://codepen.io/stephenpaton-tech/full/JjRvGmY */

html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: repeat;
}

.welcome{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    color:#ffffff;
}

.intro-section {
    text-align: center;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid rgba(110, 149, 185, 0.87);
}

.intro-text {
    color: #ffffff;
    margin: auto;
}

.info-container{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border-width: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;
    border: 2px solid rgba(110, 149, 185, 0.87);
    backdrop-filter: blur(2px);
}

.info-container p{
    color: white;
    display: block;
}

.box{
    margin: 50px;
    width: calc(50% - 10px);
    background-color: rgba(26, 26, 26, 0.61);
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.87);
    text-align: left;
    line-height: 35px;
    width: auto;
    height: auto;
    padding: 10px;
    max-width: 750px;
}

.box button {
    background-color: #a4d7fc;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin: auto;
    position: relative;
}

.box button:hover,
.box button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
}

.box button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.box button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    /* background: url(../images/cool-background.png); */
    background-color: #0e1922;
    padding: 10px;
    margin: auto;
}

.contact-section {
    text-align: center;
    /* padding: 20px; */
    padding-top: 20px;
    border: 2px solid rgba(110, 149, 185, 0.87);
    margin-top: 10px;
    color: #ffffff;
    background: rgb(26, 26, 26);
    width: 100%;
    position: flex;
    /* backdrop-filter: blur(10px); */
}

.contact-section h2 {
    margin-bottom: 10px;
}

