<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="../static/css/projects.css"/>
</head>
<body>
    <div class="proj-container">
        <div class="top-panel">
            <h2 class="main-heading">My Projects and Tools</h2>
            <p>Click on the GitHub icon for the Source Code!</p>
        </div>
        <div class="scrollable-list" id="projectsList">
            <div class="project-item project-item">
                <div class="project-title">
                    <h3>SeamlessM4Tv2 Appllication Endpoints</h3>
                    <a href="https://github.com/axs03/SeamlessM4Tv2-API" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                    <span class="docker-tag">Docker</span>
                </div>
                <div class="project-details">
                    <p>Docker containerized deployable API endpoints 
                        for the SeamlessM4Tv2 model generating text-to-speech 
                        and speech-to-speech translation audio files.
                    </p>
                    
                </div>
            </div>

            <div class="project-item project-item">
                <div class="project-title">
                    
                    <h3>ViT-Training</h3>
                    <a href="https://github.com/axs03/ViT-Training" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                </div>
                <div class="project-details">
                    <p>Training Vision Transformer Image Classification 
                        model on multiple example datasets</p>
                </div>
            </div>

            <div class="project-item project-item">
                <div class="project-title">
                    
                    <h3>AI Algorithms</h3>
                    <a href="https://github.com/axs03/AI-Algorithms" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                </div>
                <div class="project-details">
                    <p>Search Algorithms used within the field of Artificial 
                        Intelligence</p>
                </div>
            </div>

            <div class="project-item project-item">
                <div class="project-title">
                    <h3>discbot-X</h3>
                    <a href="https://github.com/axs03/discbot-X" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="tags">
                    <span class="javascript-tag">JavaScript</span>
                </div>
                <div class="project-details">
                    <p>Discord Bot created using discord.js</p>
                </div>
            </div>

            <div class="project-item project-item">
                <div class="project-title">
                    <h3>Communicator.AI</h3>
                    <a href="https://github.com/axs03/TranslatorAppIOS" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                    <span class="aws-tag">AWS</span>
                    <span class="swift-tag">Swift</span>
                </div>
                <div class="project-details">
                    <p>iOS Application utlizing AI for making 
                        accurate language translations.
                        <br>Source Code for <b>Communicator.AI</b></p>
                </div>
            </div>

            <div class="project-item project-item">
                <div class="project-title">
                    <h3>Desktop Financing Application</h3>
                    <a href="https://github.com/axs03/AccountingCapstone" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="tags">
                    <span class="python-tag">Python</span>
                    <span class="java-tag">Java</span>
                </div>
                <div class="project-details">
                    <p>CMPSC Capstone Project -- Accounting Program made using JavaFX and the Seaborn library in Python</p>
                </div>
            </div>
        </div>
        <div class="top-panel">
            <p>and more...</p>
        </div>
    </div>
</body>
</html>
