<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="../static/css/projects.css"/>
</head>
<body>
    <div class="proj-container">
        <!-- <div class="details-panel" id="detailsPanel">
            <h2 class="details-heading">Projects and Tools</h2>
        </div> -->
        <div class="scrollable-list" id="projectsList">
            <div class="project-item project-item--normal">
                <div class="project-title">
                    <h3>Project 1 Title</h3>
                    <div class="tags">
                        <span class="python-tag">Python</span>
                        <span class="docker-tag">Docker</span>
                    </div>
                </div>
                <div class="project-details">
                    <p>Project 1 details go here.
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                    </p>
                    
                </div>
            </div>

            <div class="project-item project-item--reverse">
                <div class="project-details">
                    <p>Project 2 details go here.</p>
                </div>
                <div class="project-title">
                    <h3>Project 2 Title</h3>
                </div>
            </div>
        </div>

        <div class="scrollable-list" id="projectsList">
            <div class="project-item project-item--normal">
                <div class="project-title">
                    <h3>Project 3 Title</h3>
                </div>
                <div class="project-details">
                    <p>Project 3 details go here.
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                        lorem
                    </p>
                </div>
            </div>

            <div class="project-item project-item--reverse">
                <div class="project-details">
                    <p>Project 4 details go here.</p>
                </div>
                <div class="project-title">
                    <h3>Project 4 Title</h3>
                </div>
            </div>
        </div>

    </div>
    <script src="../static/js/projects.js"></script>
</body>
</html>
