<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="../static/css/resume.css"/>
</head>
<body>
    <div class="resume-container">
        <h2>Skills</h2>
        <div class="skills">
            <ul class="skills-list">
                <li class="skills-item">Python</li>
                <li class="skills-item">SQL</li>
                <li class="skills-item">C++</li>
                <li class="skills-item">Swift</li>
                <li class="skills-item">Firebase</li>
                <li class="skills-item">Angular</li>
                <li class="skills-item">Flask</li>
                <li class="skills-item">Transformers</li>
                <li class="skills-item">sk-learn</li>
                <li class="skills-item">Streamlit</li>
                <li class="skills-item">matplotlib</li>
                <li class="skills-item">Seaborn</li>
                <li class="skills-item">JavaFX</li>
                <li class="skills-item">Git</li>
                <li class="skills-item">Docker</li>
                <li class="skills-item">Slack</li>
                <li class="skills-item">ServiceNow</li>
                <li class="skills-item">REST APIs</li>
                <li class="skills-item">AWS (SageMaker, EC2, S3)</li>
                <li class="skills-item">Azure SQL Databases</li>
            </ul>
        </div>
        <h2>Work Experience</h2>

        <div class="job">
            <div class="job-title">Cofounder & Software Engineer</div>
            <div class="job-company">ADDR LLC</div>
            <div class="job-dates">Dec 2024 - Present</div>
            <ul>
                <li>Drone technology startup with core team of 4 engineers actively developing innovative autonomous drone solutions.</li>
                <li>Architected and developed the company's responsive website using HTML, CSS, and Three.js.</li>
                <li>Discussed concepts and ideas regarding overall structure, design, and implementations through weekly SCRUM meetings.</li>
            </ul>
        </div>

        <div class="job">
            <div class="job-title">Operations Analyst 1</div>
            <div class="job-company">Penn State Housing and Food Services</div>
            <div class="job-dates">Aug 2024 - Present</div>
            <ul>
                <li>Migrated backend architecture to Node.js and MySQL server, resulting in 40% improved efficiency and reliability.</li>
                <li>Introduced Git Version Control System for codebase.</li>
                <li>Automated data updates in the Inventory Management System using JavaScript.</li>
                <li>Built Power Automate process for streamlining mass email communication for over 150 employees, improving data tracking.</li>
            </ul>
        </div>

        <div class="job">
            <div class="job-title">IT Services Student Team Manager</div>
            <div class="job-company">Penn State IT Services</div>
            <div class="job-dates">June 2022 - Present</div>
            <ul>
                <li>Managed student team of over 10 employees, providing insight into day-to-day team tasks and tackling technical problems.</li>
                <li>Effectively maintained university technology infrastructure, ensuring systems are up to date.</li>
                <li>Assisted more than 250 students and faculty with technology issues employing curated problem-solving approaches.</li>
                <li>Managed and created incidents using ServiceNow to streamline team communication and support user requests.</li>
                <li>Deployed and verified 500+ university computers with custom OS images developed by Penn State.</li>
            </ul>
        </div>

        <div class="job">
            <div class="job-title">Research Intern, MCREU Scholars Program</div>
            <div class="job-company">Penn State College of Engineering</div>
            <div class="job-dates">April 2024 - July 2024</div>
            <ul>
                <li>Developed pipeline to deliver accurate conversational translations between doctors and non-English speaking patients.</li>
                <li>Integrated Meta's SeamlessM4T-v2 Natural Language Processing model into SwiftUI iOS application environment.</li>
                <li>Implemented NLP model using Python's transformers and containerized environment using Docker.</li>
                <li>Produced custom API endpoints using Gunicorn with Flask, enhancing scalability and performance.</li>
                <li>Deployed model on AWS SageMaker with S3 storage and EC2 for deployment.</li>
                <li>Initiated early stages of iOS application deployment using TestFlight for beta testing and user feedback.</li>
            </ul>
        </div>

        <div class="job">
            <div class="job-title">Full Stack Developer Intern</div>
            <div class="job-company">Swan Softech Pvt. Ltd.</div>
            <div class="job-dates">April 2022 – Sept 2022</div>
            <ul>
                <li>Collaborated with senior developers to implement a 17% more efficient file tracking system using Python and Angular.</li>
                <li>Optimized and migrated 5,000+ rows into SQL databases using PHPmyadmin, improving database response time by 15%.</li>
                <li>Demonstrated fluency in writing production-ready code, implementing Object-Oriented Programming.</li>
                <li>Introduced proper versioning and modifications to REST API, improving API response time by 20%.</li>
                <li>Conducted unit testing of application, effectively debugging and resolving issues to ensure optimal performance.</li>
            </ul>
        </div>
    </div>
</body>
</html>
