<main>
    <div class="contact-container">
        <div class="contact-box">
            <h1>Send a Message</h1>
            <p>Lets Connect!</p>
            <div class="contact-info">
                <a href="mailto:ajs9219@psu.edu" class="contact-item">
                    <i class="fas fa-envelope"></i>
                    aman.sahu&#64;psu.edu
                </a>
                <a href="https://github.com/axs03" target="_blank" class="contact-item">
                    <i class="fab fa-github"></i>
                    axs03
                </a>
                <a href="https://www.linkedin.com/in/amans135/" target="_blank" class="contact-item">
                    <i class="fab fa-linkedin"></i>
                    Aman Sahu on LinkedIn
                </a>
                <a href="https://app.joinhandshake.com/profiles/qa9xca" target="_blank" class="contact-item">
                    <!-- <img src="../../../public/icons/handshake_icon.jpg" alt="Handshake Icon" class="custom-icon"> -->
                    Aman Sahu on Handshake
                </a>
            </div>
        </div>
    </div>
</main>