@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--darker);
    padding: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.contact-box {
    width: 100%;
    max-width: 1200px;
    padding: 30px;
}

.contact-header {
    text-align: left; /* Left-align title and description */
    margin-bottom: 40px;
}

.contact-box h1 {
    font-weight: var(--headings-weight);
    font-size: 4rem;
    color: var(--primary-color);
    text-shadow: 2px 2px 0 #000, 
                -2px -2px 0 #000,  
                 2px -2px 0 #000,
                -2px 2px 0 #000;
    margin-bottom: 20px;
}

#contactDesc {
    font-size: 1.3em;
    color: grey;
    text-align: left; /* Ensure description is left-aligned */
    margin-bottom: 20px;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}

.contact-info a {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

.contact-info a:hover {
    color: black;
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    transition: all 0.3s ease;
    border: 2px solid #000000;
    background-color: transparent;
}

.contact-item:hover {
    transform: scale(1.001);
    background-color: antiquewhite;
}

.contact-item i {
    font-size: 2em;
}

@media (max-width: 768px) {
    .contact-info {
        grid-template-columns: 1fr;
    }
    
    .contact-box h1 {
        font-size: 3rem;
    }
}