<!DOCTYPE html>
<title>Array Code</title>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/projects.css"/>
</head>
<body>
    <div class="scrollable-list">
        <div class="scroll-item">
            <h2>Project 1</h2>
            <div class="tags"> 
                <div class="html-tag">HTML</div>
                <div class="python-tag">Python</div>
            </div>
        </div>

        
        <div class="scroll-item">
            <h2>Project 2</h2>
        </div>
        <div class="scroll-item">
            <h2>Project 3</h2>
        </div>
    </div>
</body>
</html>