<!DOCTYPE html>
<title>Projects</title>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/projects.css"/>
</head>
<body>
    <div class="scrollable-list">
        <div class="scroll-item" onclick="toggleDetails(this)">
            <h2>Project 1</h2>
            <div class="summary">
                <p>This is a summary of the project</p>
            </div>
            <div class="details">
                <p>More details about Project 1, such as technical implementation, challenges, and results.</p>
                <div class="tags"> 
                    <div class="php-tag">PHP</div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- For expanding the project box -->
<script>
    function toggleDetails(item) {
        item.classList.toggle('expanded');
    }
</script>
</html>