<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="/static/css/resume.css"/>
</head>
<body>
    <div class="pdf-viewer">
        <div class="toolbar">
            <h1>Resume</h1>
            <a href="/static/files/Resume.pdf" target="_blank" class="download-btn">Download Resume</a>
        </div>
        <iframe src="/static/files/Resume.pdf#toolbar=0" class="pdf-embed" allow="fullscreen"></iframe>
    </div>
</body>
</html>
