<div class="resume-container">
    <div class="top-panel">
        <h2 class="main-heading">Experience</h2>
        <p>Click on a box for more details</p>
    </div>
    
    <div class="box" #box>
        <div class="job-content">
            <div class="job-left">
                <div class="job-company">Penn State Housing and Food Services,<br>Middletown,<br>PA</div>
                <div class="job-title">Operations Analyst 1</div>
                <div class="job-dates">Aug 2024 - May 2025</div>
            </div>
            <div class="job-right">
                <p>Initially, building Power Automate flows and automating data updates using JavaScript helped in setting a baseline for more efficient 
                    and reliable tools. 
                    <br>Introducing Git version control for the Inventory Management System was a key factor for improving collaboration. 
                    <br>Eventually, we decided it was time to migrate to Node.js for out backend servers and mySQL for our database.
            </div>
        </div>

        <div class="job-content" style="margin-top: 50px;">
            <div class="job-left">
                <div class="job-company">Penn State IT Services,<br>Middletown,<br>PA</div>
                <div class="job-title">IT Services Student Team Manager</div>
                
                <div class="job-dates">June 2022 - May 2025</div>
            </div>
            <div class="job-right">
                <p>Working as an IT Student Team Manager has helped improve my problem solving and leadership skills. Having assisted over 250 students and faculty members, 
                    it is interesting to see what new issues will come up and how you can solve them. 
                    <br>As a team, our core duties involve managing university technology infrastructure, where we 
                    ensure the systems are up to date and working properly. 
                    <br>Deployed and verified over 500+ Penn State computers using a specially built Operating System used explicitly
                    by Penn State. 
                    <br>We use ServiceNow as our ticket management tool which allows us to upkeep all of our tasks and incidents helping other team members stay up to speed. 
                </p>
            </div>
        </div>
    </div>

    <div class="box" #box>
        <div class="job-content">
            <div class="job-left">
                <div class="job-company">ADDR LLC,<br>Harrisburg,<br>PA</div>
                <div class="job-title">Software Engineer</div>
                <div class="job-dates">Dec 2024 - May 2025</div>
            </div>
            <div class="job-right">
                <p>A technology startup with a focus in developing innovative autonomous drone solutions for various 
                    real world challenges and use cases. 
                    <!-- <br>As a team, we at ADDR see drones having potential in life-saving scenarios, 
                    aiming for the greatest possible impact within disaster response and search and rescue operations. -->
                    Find out more on <a href="https://addrllc.com">our website</a>. 
                </p>
                <p>For work experience, I have designed the website and it is maintained by me. I used Three.js for the 3D modelling and JavaScript.
            </div>
        </div>
    </div>

    <div class="box" #box>
        <div class="job-content">
            <div class="job-left">
                <div class="job-company">Penn State College of Engineering,<br>State College,<br>PA</div>
                <div class="job-title">Research Intern, MCREU Scholars Program</div>
                
                <div class="job-dates">April 2024 - July 2024</div>
            </div>
            <div class="job-right">
                <p>Worked on a research project with my Professor alongside a Doctor from Hershey Medical where our main goal was to develop
                    an iOS application for delivering accurate conversational translations between doctors and non-English speaking patients.
                    <br>This involved using Meta's SeamlessM4T-v2 Natural Language Processing model into an iOS application.</p> 
                    <!-- <div class="job-image">
                        <img src="../static/icons/phone_disp.png" alt="iOS App" />
                    </div> -->
                    <p>We used Python's transformers for the NLP model itself, and successfully containerized the entire environment using Docker for our API deployment. 
                    <br>Custom API endpoints were made possible using Gunicorn for production with Flask. AWS SageMaker, S3 bucket, and an EC2 instance all 
                    played big roles in the deployment process. Using TestFlight for our beta testers helped get valuable user feedback. </p>
                    
            </div>
            
        </div>
    </div>

    <div class="box" #box>
        <div class="job-content">
            <div class="job-left">
                <div class="job-company">Swan Softech Pvt Ltd,<br>Raipur,<br>India</div>
                <div class="job-title">Full Stack Developer Intern</div>
                
                <div class="job-dates">April 2022 – Sept 2022</div>
            </div>
            <div class="job-right">
                <p> Collaborated with senior developers to implement a 17% more efficient file tracking system using Python and Angular.
                    <br>Tasks included data preprocessing and the migration to an SQL database managed by PHPmyadmin. Understadning the strcuture and the functionailty gave a solid foundation for 
                    Object Oriented programming and fluency in writing production ready code. 
                    <br>Introducing proper versioning into the API helped improve its repsonse time as well.
                    Unit Tests were written in pytest, it made it quite easy for debugging code and resolving minor issues to ensure optimal performance. 
            </div>
        </div>
    </div>
</div>
