@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('../../styles.css');

.resume-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--exp-bg);
    padding: 30px 50px 30px 60px;
    min-height: 100dvh;
}

/* Vertical timeline bar */
.resume-container::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 50px;
    width: 2px;
    height: calc(100% - 100px);
    background-color: grey;
    z-index: 1;
}

.top-panel p {
    display: flex;
    justify-content: flex-start;
    color: rgb(129, 129, 129);
    margin: 30px 30px;
}

.main-heading {
    font-size: 4rem;
    color: var(--primary-color);
    text-align: left;
    font-weight: var(--headings-weight);
    margin: 0 0 1.5rem 2rem;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1.0px 1.0px 0 #000, 
                -1.0px -1.0px 0 #000,  
                 1.0px -1.0px 0 #000,
                -1.0px 1.0px 0 #000;
}

.box {
    position: relative;
    flex: 1 1 calc(100% - 30px);
    max-width: calc(100% - 30px);
    width: 70%;
    padding: 30px;
    transition: 0.5s;
    border-left: #000000 solid 2px;
    margin-bottom: 30px;
    z-index: 3;
}

/* Timeline dots */
.box::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 0.3px;
    background-color: grey;
    z-index: 2;
    box-shadow: 0 0 0 3px grey;
    margin: 0 0 0 -2px;
}

.box.expanded .job-right {
    max-height: 1000px; /* Adjust as needed to fit all content */
    opacity: 1;
}

.resume-container .box:nth-of-type(1) {
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.job-content {
    position: relative;
}

.job-left,
.job-right {
    transition: opacity 0.3s ease;
}

.job-left {
    opacity: 1;
    position: relative;
}

.job-right {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: 100%;
    z-index: 1;
}

.box.expanded .job-right {
    max-height: 1000px;
    opacity: 1;
}

.job, .skills {
    margin-bottom: 20px;
}

.job-title {
    font-weight: bold;
    color: var(--darker);
}

.job-company {
    font-weight: 100;
    color: black;
}

.job-right a {
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}

.job-right a:hover {
    color: var(--primary-color);
}

.job-right p {
    color: black;
}

.job-dates {
    color: #888;
    font-size: 0.9em;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    color: white;
    list-style-type: circle;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.skills-item {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .resume-container {
        padding-left: 40px;
    }
    
    .resume-container::before {
        left: 15px;
    }
    
    .box::before {
        left: -25px;
        width: 10px;
        height: 10px;
    }

    .main-heading {
        font-size: 3em;
    }
    
    .box {
        flex: 1 1 100%;
        max-width: 100%;
        width: 90%;
    }

    .job-content {
        display: flex;
        flex-direction: column;
    }
}