@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* @import url('./main_colors.css'); */

/* General reset */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #ffffff00;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: rgba(8, 18, 48, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: none;
    color: #333;
    margin: 0;
    padding: 20px;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    backdrop-filter: blur(2px);
}

.box {
    width: 80%;
    padding: 20px 20px 20px 30px;
    border-radius: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(90deg, var(--secondary-color) 0%, rgba(var(--shine), 0.1) 12%, var(--secondary-color) 30%, rgba(var(--shine), 0.1) 50%, var(--secondary-color)  100%);
}

.box:hover {
    transform: scale(1.02);
    background-position: right center;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

.job-content {
    display: flex;
    align-items: flex-start;
}

.job-left {
    flex: 0 0 20%;
    padding-right: 10px;
}

.job-right {
    flex: 1;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

.job, .skills {
    margin-bottom: 20px;
}

.job-title {
    font-weight: bold;
    color: var(--primary-color);
}

.job-company {
    font-style: italic;
    color: white;
}

.job-right a {
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}

.job-right a:hover {
    color: var(--primary-color);
}

.job-right p {
    color: rgb(182, 182, 182);
}

.job-dates {
    color: #888;
    font-size: 0.9em;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    color: white;
    list-style-type: circle;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}
.skills-item {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .box {
        background: black;
    }

    .job-content {
        display: flex;
        flex-direction: column;
    }

    .job-right {
        border-top: 1px solid #ccc;
        border-left: none;
    }
}